=begin
#ChannelEngine Merchant API

#ChannelEngine API for merchants

OpenAPI spec version: 2.6.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require "uri"

module ChannelEngineMerchantApiClient
  class CancellationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create Cancellation
    # Mark (part of) an order as cancelled.
    # @param cancellation 
    # @param [Hash] opts the optional parameters
    # @return [ApiResponse]
    def cancellation_create(cancellation, opts = {})
      data, _status_code, _headers = cancellation_create_with_http_info(cancellation, opts)
      return data
    end

    # Create Cancellation
    # Mark (part of) an order as cancelled.
    # @param cancellation 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiResponse, Fixnum, Hash)>] ApiResponse data, response status code and response headers
    def cancellation_create_with_http_info(cancellation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CancellationApi.cancellation_create ..."
      end
      # verify the required parameter 'cancellation' is set
      if @api_client.config.client_side_validation && cancellation.nil?
        fail ArgumentError, "Missing the required parameter 'cancellation' when calling CancellationApi.cancellation_create"
      end
      # resource path
      local_var_path = "/v2/cancellations"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(cancellation)
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CancellationApi#cancellation_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
