=begin
#ChannelEngine Merchant API

#ChannelEngine API for merchants

The version of the OpenAPI document: 2.9.7

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.1

=end

require 'cgi'

module ChannelEngineMerchantApiClient
  class OfferApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get stock for products.
    # Get stock of products at stock location(s).
    # @param skus [Array<String>] List of your products&#39; sku&#39;s.
    # @param stock_location_ids [Array<Integer>] The ChannelEngine id of the stock location(s).
    # @param [Hash] opts the optional parameters
    # @return [CollectionOfMerchantOfferGetStockResponse]
    def offer_get_stock(skus, stock_location_ids, opts = {})
      data, _status_code, _headers = offer_get_stock_with_http_info(skus, stock_location_ids, opts)
      data
    end

    # Get stock for products.
    # Get stock of products at stock location(s).
    # @param skus [Array<String>] List of your products&#39; sku&#39;s.
    # @param stock_location_ids [Array<Integer>] The ChannelEngine id of the stock location(s).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionOfMerchantOfferGetStockResponse, Integer, Hash)>] CollectionOfMerchantOfferGetStockResponse data, response status code and response headers
    def offer_get_stock_with_http_info(skus, stock_location_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.offer_get_stock ...'
      end
      # verify the required parameter 'skus' is set
      if @api_client.config.client_side_validation && skus.nil?
        fail ArgumentError, "Missing the required parameter 'skus' when calling OfferApi.offer_get_stock"
      end
      # verify the required parameter 'stock_location_ids' is set
      if @api_client.config.client_side_validation && stock_location_ids.nil?
        fail ArgumentError, "Missing the required parameter 'stock_location_ids' when calling OfferApi.offer_get_stock"
      end
      # resource path
      local_var_path = '/v2/offer/stock'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skus'] = @api_client.build_collection_param(skus, :multi)
      query_params[:'stockLocationIds'] = @api_client.build_collection_param(stock_location_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionOfMerchantOfferGetStockResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"OfferApi.offer_get_stock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#offer_get_stock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update stock or price.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<MerchantStockPriceUpdateRequest>] :merchant_stock_price_update_request References to the products that should be updated, and the new values&lt;br /&gt;for the stock or price fields. It is possible to supply only one of the two fields&lt;br /&gt;or both.
    # @return [SingleOfDictionaryOfStringAndListOfString]
    def offer_stock_price_update(opts = {})
      data, _status_code, _headers = offer_stock_price_update_with_http_info(opts)
      data
    end

    # Update stock or price.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<MerchantStockPriceUpdateRequest>] :merchant_stock_price_update_request References to the products that should be updated, and the new values&lt;br /&gt;for the stock or price fields. It is possible to supply only one of the two fields&lt;br /&gt;or both.
    # @return [Array<(SingleOfDictionaryOfStringAndListOfString, Integer, Hash)>] SingleOfDictionaryOfStringAndListOfString data, response status code and response headers
    def offer_stock_price_update_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.offer_stock_price_update ...'
      end
      # resource path
      local_var_path = '/v2/offer'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'merchant_stock_price_update_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SingleOfDictionaryOfStringAndListOfString'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"OfferApi.offer_stock_price_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#offer_stock_price_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
