=begin
#ChannelEngine Merchant API

#ChannelEngine API for merchants

OpenAPI spec version: 2.5.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require "uri"

module ChannelEngineMerchantApiClient
  class ShipmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create Shipment
    # Mark (part of) an order as shipped.
    # @param model 
    # @param [Hash] opts the optional parameters
    # @return [ApiResponse]
    def shipment_create(model, opts = {})
      data, _status_code, _headers = shipment_create_with_http_info(model, opts)
      return data
    end

    # Create Shipment
    # Mark (part of) an order as shipped.
    # @param model 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiResponse, Fixnum, Hash)>] ApiResponse data, response status code and response headers
    def shipment_create_with_http_info(model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ShipmentApi.shipment_create ..."
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling ShipmentApi.shipment_create"
      end
      # resource path
      local_var_path = "/v2/shipments"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(model)
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#shipment_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Shipment
    # Update an existing shipment with tracking information
    # @param merchant_shipment_no The merchant&#39;s shipment reference
    # @param model The updated tracking information
    # @param [Hash] opts the optional parameters
    # @return [ApiResponse]
    def shipment_update(merchant_shipment_no, model, opts = {})
      data, _status_code, _headers = shipment_update_with_http_info(merchant_shipment_no, model, opts)
      return data
    end

    # Update Shipment
    # Update an existing shipment with tracking information
    # @param merchant_shipment_no The merchant&#39;s shipment reference
    # @param model The updated tracking information
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiResponse, Fixnum, Hash)>] ApiResponse data, response status code and response headers
    def shipment_update_with_http_info(merchant_shipment_no, model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ShipmentApi.shipment_update ..."
      end
      # verify the required parameter 'merchant_shipment_no' is set
      if @api_client.config.client_side_validation && merchant_shipment_no.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_shipment_no' when calling ShipmentApi.shipment_update"
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling ShipmentApi.shipment_update"
      end
      # resource path
      local_var_path = "/v2/shipments/{merchantShipmentNo}".sub('{' + 'merchantShipmentNo' + '}', merchant_shipment_no.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(model)
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ApiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#shipment_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
