=begin
#ChannelEngine Merchant API

#ChannelEngine API for merchants

OpenAPI spec version: 2.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require "uri"

module ChannelEngineMerchantApiClient
  class StockLocationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get the stock locations (or virtual warehouses)
    # Get the different stock locations (or virtual warehouses) that are in use.  This may include stock locations for 'fulfillment by ... (Amazon/bol/CDiscount)' (FBA/LVB/FBC) solutions.  You can use the id's to get to stock of products in specific stock location, e.g. the FBA stock for the products.
    # @param [Hash] opts the optional parameters
    # @return [CollectionOfMerchantStockLocationResponse]
    def stock_location_index(opts = {})
      data, _status_code, _headers = stock_location_index_with_http_info(opts)
      return data
    end

    # Get the stock locations (or virtual warehouses)
    # Get the different stock locations (or virtual warehouses) that are in use.  This may include stock locations for &#39;fulfillment by ... (Amazon/bol/CDiscount)&#39; (FBA/LVB/FBC) solutions.  You can use the id&#39;s to get to stock of products in specific stock location, e.g. the FBA stock for the products.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CollectionOfMerchantStockLocationResponse, Fixnum, Hash)>] CollectionOfMerchantStockLocationResponse data, response status code and response headers
    def stock_location_index_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StockLocationApi.stock_location_index ..."
      end
      # resource path
      local_var_path = "/v2/stocklocations"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CollectionOfMerchantStockLocationResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StockLocationApi#stock_location_index\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
