=begin
#ChannelEngine API V2

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 2.4.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module ChannelEngineApiClient
  class ClientApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get API Client
    # This call generates a Swagger API client and returns it as a ZIP
    # @param language The programming language
    # @param [Hash] opts the optional parameters
    # @return [File]
    def client_get(language, opts = {})
      data, _status_code, _headers = client_get_with_http_info(language, opts)
      return data
    end

    # Get API Client
    # This call generates a Swagger API client and returns it as a ZIP
    # @param language The programming language
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Fixnum, Hash)>] File data, response status code and response headers
    def client_get_with_http_info(language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ClientApi.client_get ..."
      end
      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling ClientApi.client_get"
      end
      # resource path
      local_var_path = "/v2/clients/{language}".sub('{' + 'language' + '}', language.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/zip'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'File')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ClientApi#client_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
